.password-box-screen-active {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: #d8d8d800;
  backdrop-filter: blur(2px);
  top: 50%;
  left: 50%;
  z-index: 10;

  transform: translate(-50%, -50%);
  .password-box {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 200px;

    transition: width 0.2s 0s linear, height 0.2s 0.2s linear;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    .password-box-header {
      width: 90%;
      height: 80%;

      display: flex;
      flex-direction: column;
      label {
        width: 100%;
        font-family: "Poppins";
        font-size: 20px;
        text-align: left;
        transition: opacity 0.3s 0.5s linear;
      }
      input {
        padding: 0 10px;
        height: 40px;
        border: 2px solid #e7e7e7;
        border-radius: 10px;

        transition: opacity 0.3s 0.5s linear;
      }
    }
  }
}

.password-box-screen {
  height: 0;
  width: 0;
  z-index: 10;
  position: fixed;
  background-color: #d8d8d800;
  backdrop-filter: blur(2px);
  top: 50%;
  left: 50%;
  z-index: 10;

  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: #d8d8d800;
  backdrop-filter: blur(2px);
  top: 50%;
  left: 50%;
  z-index: 10;

  .password-box {
    background-color: white;
    // padding: 10px;
    border-radius: 20px;
    position: absolute;
    background-color: #77777740;
    top: 0;
    left: 0;
    font-family: "Poppins";
  }
  .password-box {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: 300px;

    transform: translate(-50%, -50%);

    .password-box-header {
      background-color: #ff000040;
      border-radius: 10px 10px 0 0;
      padding: 10px;

      .rcode {
        font-weight: 700;
      }
    }

    .password-form {
      padding: 10px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      span {
        font-size: 14px;
        width: 100%;
        text-align: left;
        margin-left: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        padding: 5px;
        margin-bottom: 30px;
      }
      button {
        width: 120px;
        height: 30px;
        border-radius: 50px;
        margin: 0 auto;
        background-color: #ff000045;
        border: 2px solid #00000020;
        cursor: pointer;
        transition: 0.3s;
      }
      button:hover {
        transition: 0.3s;
        background-color: #ff000060;
      }
    }
  }
}
