.password-box-screen {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    background-color: #77777740;
    top: 0;
    left: 0;
    font-family: "Poppins";

    .password-box {
        background-color: white;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        width: 300px;

        transform: translate(-50%, -50%);

        .password-box-header {
            background-color: #ff000040;
            border-radius: 10px 10px 0 0;
            padding: 10px;

            .rcode {
                font-weight: 700;
            }
        }

        .password-form {
            padding: 10px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            .buttons {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            span {
                font-size: 14px;
                width: 100%;
                text-align: left;
                margin-left: 5px;
            }
            input {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 5px;
                margin-bottom: 30px;
            }
            button {
                width: 120px;
                height: 30px;
                border-radius: 50px;
                margin: 0 auto;
                background-color: #ff000045;
                border: 2px solid #00000020;
                cursor: pointer;
                transition: 0.3s;
            }
            button:hover {
                transition: 0.3s;
                background-color: #ff000060;
            }
        }
    }
}
