.password-box-screen {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    background-color: #aaaaaa40;
    top: 0;
    left: 0;

    .password-box {
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}
